<!DOCTYPE html>
<html ng-app="input_list">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"> </script>
    <script src="app/controllers/input_list.js"></script>
    <script src="app/services/one_var_stats.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
</head>

<body>
    <div class="container">
    <!-- Put title here -->
    <!-- Put scrolling options
        to choose calculation type
        here -->
    <h1>Hello!</h1>
    Please enter your values in the boxes below:
    <form 
            ng-controller="input_list_ctrl as inctrl"
            name="input_list"
            ng-submit="inctrl.stats=inctrl.get_stats()"
            novalidate>
        <input
                ng-repeat="input in inctrl.inputs"
                ng-model="input.text"
                ng-blur="inctrl.check_if_delete(input)"
                ng-change="inctrl.check_if_add(input)"
                ng-pattern="/^\d+$/"
                placeholder="Enter a value!" />

        <input  ng-disabled="input_list.$invalid" class="btn btn-default"
                type="submit" value="Calculate one-variable statistics" />
        {{inctrl.stats}}
    </form>
    </div>
</body>
</html>

