<style>
.gd-extra-space {
    margin-bottom:15px;
    /*padding:5px;*/
}
.gd-remove-space {
    margin-top:-15px;
}
.alert-info {
    background-color:rgba(153, 84, 187,.85);
}
.expand-button {
    min-height: 250px;
}
</style>
<div class="container">
    <h1>One-variable Statistics Calculator</h1>
    <form 
             ng-controller="input_list_ctrl as inctrl"
             name="input_list"
             ng-submit="inctrl.get_stats()"
             novalidate>
        <tabset>
        <tab heading="Manual Input" ng-click="inctrl.update_manual_from_bulk()" id="man_input_tab">
        <div class="form-group">
            <label ng-if="inctrl.inputs.length!=0"> Current Values </label>
            <div ng-if="inctrl.inputs.length>50" class="alert alert-info" role="alert"> <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                {{inctrl.inputs.length-50}} values not shown</div>

            <div class="row">
                <div class="col-sm-2 gd-extra-space" ng-repeat="input in inctrl.inputs.slice(-50)" 
                     ng-class="{'has-error':input_list.input{{$index}}.$invalid, 'has-success':inctrl.check_if_number(inctrl.inputs[inctrl.inputs.length>50?$index+inctrl.inputs.length-50:$index].text)}"> <!-- todo: fix highlighting when elements removed-->
                        <input ng-model="input.text" ng-blur="inctrl.check_if_delete_inputs(input)"
                            ng-pattern="inctrl.NUM_PATTERN" name="input{{$index}}"
                            class="form-control" />
                </div>
            </div>
        </div>

        <div class="form-group gd-remove-space">
            <label>Please enter your values below:</label>
            <div ng-class="{'has-success':inctrl.pause_transfer && $index==0 && input.text}" ng-repeat="input in inctrl.editing">
                <input 
                 ng-model="input.text"
                 ng-blur="inctrl.check_if_delete_editing(input)"
                 ng-change="inctrl.check_if_add(input)"
                 ng-pattern="inctrl.NUM_PATTERN"
                 placeholder="{{input.id==1 || (inctrl.inputs.length==0 && inctrl.editing.length==1) ? 'Enter a value!' : 'Enter another value!'}}"
                 id="editing{{$index}}"
                 class="form-control" style="width:auto" />
             </div>
        </div>
        </tab>
        <tab heading="Bulk Input" ng-click="inctrl.update_bulk_area()">
        <div class="form-group">
            <label>Enter values below:</label>
            <div class="row"><textarea class="form-control" ng-change="inctrl.bulk_changed()" rows=8 ng-model="inctrl.bulk_in_area"> Hello! </textarea></div>
            <!--<input class="btn btn-default" value="Upload a file" readonly/>-->
        </div>
        </tab>
        <tab heading="File Input">
        <div class="form-group">
            <button ngf-drop="true" ngf-select type="button"
                    ng-model="inctrl.files" ngf-multiple="true"
                    ngf-change="inctrl.process_files()"
                    class="form-control expand-button">
                <h3>
                <p>Drop files here</p>
                <p><b>or</b></p>
                <p>Click to upload!</p>
                </h3>
            </button>
        </div>
        <div ng-repeat="file in inctrl.files">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Success!
                    </h3>
                </div>
                <div class="panel-body">
                    <b>{{file.name}}</b> has been successfully uploaded! The numbers in the file have been added to the list of inputs. Go to the <code>Bulk Input</code> tab to edit its content, or hit the <code>Calculate one-variable statistics</code> button to calculate immediately.
                </div>
            </div>
        </div>
        </tab>
        <tab heading="Random input">
            <div gd-randinput></div>
        </tab>
        </tabset>

        <button  ng-disabled="input_list.$invalid" class="btn btn-primary"
           ng-mousedown="inctrl.stop_jump()" ng-mouseup="inctrl.continue_jump()"
           ng-mouseleave="inctrl.continue_jump()"
           type="submit" >Calculate one-variable statistics </button>

        <div ng-if="inctrl.numbers.length != 0">
            <h2>Results</h2>
            <div gd-onevar-results></div>

            <div class="hc-histogram col-md-6"></div>
            <div class="hc-boxplot col-md-6" 
                 series="inctrl.boxplot_series"></div>
        </div>
    </form>
</div>
