<style>
.gd-extra-space {
    margin-bottom:15px;
    /*padding:5px;*/
}
.gd-remove-space {
    margin-top:-15px;
}
</style>
<div class="container">
    <h1>One-variable Statistics Calculator</h1>
    <form 
             ng-controller="input_list_ctrl as inctrl"
             name="input_list"
             ng-submit="inctrl.get_stats()"
             novalidate>
        <tabset>
        <tab heading="Manual Input" ng-click="inctrl.update_manual_from_bulk()" id="man_input_tab">
        <div class="form-group">
            <label ng-if="inctrl.inputs.length!=0"> Current Values </label>

            <div class="row">
                <div class="col-sm-2 gd-extra-space" ng-repeat="input in inctrl.inputs" 
                    ng-class="{'has-error':input_list.input{{$index}}.$invalid, 'has-success':input_list.input{{$index}}.$valid}"> <!-- todo: fix highlighting when elements removed-->
                        <input ng-model="input.text" ng-blur="inctrl.check_if_delete_inputs(input)"
                            ng-pattern="inctrl.NUM_PATTERN" name="input{{$index}}"
                            class="form-control" />
                </div>
            </div>
        </div>

        <div class="form-group gd-remove-space">
            <label>Please enter your values below:</label>
            <div ng-class="{'has-success':inctrl.pause_transfer && $index==0 && input.text}" ng-repeat="input in inctrl.editing">
                <input 
                 ng-model="input.text"
                 ng-blur="inctrl.check_if_delete_editing(input)"
                 ng-change="inctrl.check_if_add(input)"
                 ng-pattern="inctrl.NUM_PATTERN"
                 placeholder="{{input.id==1 || (inctrl.inputs.length==0 && inctrl.editing.length==1) ? 'Enter a value!' : 'Enter another value!'}}"
                 id="editing{{$index}}"
                 class="form-control" style="width:auto" />
             </div>
        </div>
        </tab>
        <tab heading="Bulk Input" ng-click="inctrl.update_bulk_area()">
        <div class="form-group">
            <label>Enter values below:</label>
            <div class="row"><textarea class="form-control" ng-change="inctrl.bulk_changed()" rows=8 ng-model="inctrl.bulk_in_area"> Hello! </textarea></div>
            <!--<input class="btn btn-default" value="Upload a file" readonly/>-->
        </div>
        </tab>
        <!--<tab heading="Other"><a>Other</a></tab>-->
        </tabset>

        <button  ng-disabled="input_list.$invalid" class="btn btn-primary"
           ng-mousedown="inctrl.stop_jump()" ng-mouseup="inctrl.continue_jump()"
           ng-mouseleave="inctrl.continue_jump()"
           type="submit" >Calculate one-variable statistics </button>

        <div ng-if="inctrl.numbers.length != 0">
            <h2>Results</h2>
            <!--<table class="table table-hover">
                <thead>
                    <th>Description</th>
                    <th>Symbol</th>
                    <th>Value</th>
                </thead>
                <tr ng-repeat="(key,data) in inctrl.stats">
                    <td>{{inctrl.detail_desc[key]}}</td>
                    <td mathjax-bind="inctrl.symbolic_desc[key]"></td>
                    <td mathjax-bind="data"></td>
                </tr>
            </table>-->
            <div gd-onevar-results></div>

            <div class="hc-histogram col-md-6" values="inctrl.histogram_points" bins="inctrl.histogram_bins"></div>
            <div class="hc-boxplot col-md-6" 
                 series="inctrl.boxplot_series"></div>
        </div>
    </form>
</div>
